@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('./styles/welcome.css');
html {
    scroll-behavior: smooth;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #151D28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Anton", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mode-changer #triangle-topleft[mode~="dark"] {
    border-top: 60px solid #ffff;
}

#mode-changer #triangle-topleft[mode~="light"] {
    border-top: 60px solid #303030;
}

#overlay i:hover[mode~="dark"] {
    color: #303030;
}

#overlay i[mode~="dark"] {
    color: #fffb00;
}

#mode-changer[mode~="dark"] {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffff;
    background: #303030;
}

#mode-changer[mode~="light"] {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffff;
    color: #303030;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
    color: #fff;
}

div>h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.fill-window {
    height: auto;
    margin: 5%;
    text-align: center;
    left: 0;
    width: 100%;
    overflow: visible;
    display: block;
    background: #151D28;
    padding-top: 72px;
}

.fill-window-100 {
    height: 100%;
    margin: 5%;
    text-align: center;
    left: 0;
    width: 100%;
    overflow: visible;
    display: block;
    background: #151D28;
    padding-top: 72px;
}

.skills {
    position: absolute;
    margin: 3px;
}

#AboutMe p.left {
    /* width: 40%; */
    text-align: left;
}

#AboutMe p.right {
    /* width: 40%; */
    text-align: right;
}